:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-template:rgb(80, 144, 248);
  --foreground-template:rgb(255, 255, 255);
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
